body {
	font-family: 'Lato', sans-serif;
}


.navbar-starbucks {
	border-top:6px solid #036635;
}

.navbar-starbucks ul {
	padding-top: 16px;
}

.navbar-starbucks img {
	height: 50px;

}

.navbar {
	margin-bottom: 0;
}

.navbar-nav a {
	text-transform: uppercase;
}

.logo {
	height: 80px;
}

.seccion1, .seccion2, .seccion3 {
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 10px;
}



.seccion1 {
	background-image: url(../images/banner1.jpg);
	background-size: cover;
	background-position: no-repeat;
	margin-top: 80px;
}
.seccion2 {
	background-image: url(../images/stars2.png);
	background-size: cover;
	background-position: no-repeat;
}
.seccion3 {
	background-image: url(../images/beans.png);
	background-size: cover;
	background-position: no-repeat;
}
.mensaje {
	background: rgba(8, 8, 8, 0.8);;
	border: 0;
	color:#fff;
	text-align: center;
	border-radius: 20px;
}
.caption h2 {
	color: #fff;
	text-transform: uppercase;
}
.caption i {
	color: #fff;
	font-size: 32px;
}
.caption p {
	color: #fff;

}
.boton {
	border: 1px solid #fff;
	background-color: transparent;
	border-radius: 14px;
}

footer {
	text-align: center;
	border-bottom: 6px solid #333;
}
footer ul {
	list-style: none;
	margin: 0px auto;
	height: 40px;


}

footer ul li {
	display: block;
	float: left;
	font-size:20px;
	text-align: center;
}
footer img {
	height: 50px;
}
